*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(90, 18, 18);
    color: white;
    margin: 2%;
}

.int{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.int input{
    margin: 4%;
    height: 30px;
    border: solid 4px black;
    border-radius: 20px;
}

.btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.btn button{
    margin: 5%;
}

#add{
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: solid 3px black;
    background: transparent ;
    font-size: xx-large;
    cursor: pointer;
}

#add:hover{
    background-color: rgb(245, 0, 0);
}

#sub{
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: solid 3px black;
    background: transparent ;
    font-size: xx-large;
    cursor: pointer;
}

#sub:hover{
    background-color: rgb(245, 0, 0);
}

#multi{
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: solid 3px black;
    background: transparent ;
    font-size: xx-large;
    cursor: pointer;
}

#multi:hover{
    background-color: rgb(245, 0, 0);
}

#div{
    height: 50px;
    width: 100px;
    border-radius: 40px;
    border: solid 3px black;
    background: transparent ;
    font-size: xx-large;
    cursor: pointer;
}

#div:hover{
    background-color: rgb(245, 0, 0);
}

#ref{
    height: 50px;
    width: 80px;
    border-radius: 40px;
    border: solid 3px black;
    background: transparent ;
    cursor: pointer;
    margin: 5%;
}

#ref:hover{
    background-color: rgb(245, 0, 0);
}